<hr>
<p>Anastasia Udaltsova, <%= current_year %></p>
<p>GitHub: <%= github_url("udaltsova-nastya", "test_guru") %> -- View and manage tests</p>
<p>Учебный проект в онлайн-школе <%= link_to "Thinknetica", "http://thinknetica.com/" %></p>

